.ds-list{
    width:93%;
    margin:auto;
    display: grid;
    grid-gap:30px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(6,1fr);
}

.grid-list{
    
    width: 190px;
    margin:auto;
    /* border-radius: 10px; */
    height: 190px;
}
.grid-list h4{
    text-align: center;
   margin-top: 75px;
   color:white
}

.grid-list:nth-child(1), .grid-list:nth-child(3), .grid-list:nth-child(5),.grid-list:nth-child(13),.grid-list:nth-child(11),.grid-list:nth-child(15),.grid-list:nth-child(17) {
    border-radius: 50px;
    border-top-left-radius: 0;
    
  

}

.grid-list:nth-child(2),.grid-list:nth-child(8),.grid-list:nth-child(10),.grid-list:nth-child(12),.grid-list:nth-child(14){
    border-radius: 50px;
    border-bottom-right-radius: 0;

}
.grid-list:nth-child(4),.grid-list:nth-child(7),.grid-list:nth-child(16){
    border-radius: 50px;
    border-bottom-left-radius: 0;


}
.grid-list:nth-child(6),.grid-list:nth-child(9),.grid-list:nth-child(18){
    border-radius: 50px;
    border-top-right-radius: 0;

}

.grid-list:nth-child(1),.grid-list:nth-child(12),.grid-list:nth-child(13){
    background-color: #00cccc;
    

}
.grid-list:nth-child(2),.grid-list:nth-child(11),.grid-list:nth-child(14){
    background-color: #008ae6;
}
.grid-list:nth-child(3),.grid-list:nth-child(10),.grid-list:nth-child(15){
    background-color: #ff8566;
}
.grid-list:nth-child(4),.grid-list:nth-child(9),.grid-list:nth-child(16){
    background-color: #ffb84d;
}
.grid-list:nth-child(5),.grid-list:nth-child(8),.grid-list:nth-child(17){
    background-color: #809fff;
}
.grid-list:nth-child(6),.grid-list:nth-child(18),.grid-list:nth-child(7){
    background-color: #ff99ff;
}



@media only screen and (max-width: 600px) {

    .ds-list{
        width:80%;
        margin:auto;
        grid-gap:0px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(2,1fr);
    }
    .grid-list{

        width: 115px;
        margin:auto;
        /* border-radius: 10px; */
        height: 115px;
    }
}