
.login{
    background-color:#4d79ff;
    color:white;
    font-size:20px;
    padding:10px 30px
}
.nav-item{
    margin-right:50px;
}
.navbar{
    padding:15px 130px;
    border-bottom: 1px solid  #bfbfbf;
}
@media only screen and (max-width: 1024px) {
    .navbar-toggler{
        margin-right:10px
    }

    .nav-item{
        margin-left:05px;
    }
    .login{
        color:white;
        text-align: center;
        padding:5px 10px;
        margin-right:8px
        
    }
}

@media only screen and (max-width: 900px) {
 
    .navbar{
        padding:0px 0px
    }
    .nav-item{
        margin-right:05px;
    }

}


@media only screen and (max-width: 775px) {
    /* .navbar{
    padding:15px 130px
} */

.nav-item{
    margin-left:15px;

}

   
   

}  