/* nav{
    width: 85%;
    height:12vh;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand{
    line-height: 30px;
    padding: 15px;
    text-align: right;
}
.hamburger{
    position: absolute;
    display: none;
    flex-direction: column;

    margin-top: 30px;
    width:40px;
    height:25px;
    justify-content: space-between;
}


.login-btn{
    background-color: #3366cc;
    border-radius: 10px;
    margin-top: 15px;
   
    padding:8px 25px;
    color:white;
}
.list-start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
}
.list-start li{
    
    padding:30px;


}


@media only screen and (max-width: 1080px) {
    .brand{
        text-align: center;
    }
    nav{
        flex-direction: column;
     
    }
    .list-start{
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger{
        display: flex;
    }
    
    .hamburger .bar{
        width:100%;
        height: 3px;
        background-color:black;
        
    
    }

} */
/* .navbar{
    width: 80%;
    margin:auto
} */
.login{
    background-color:#4d79ff;
    font-size:20px;
    padding:10px 30px
}
.nav-item{
    margin-right:50px;
}
.navbar{
    padding:15px 130px
}
@media only screen and (max-width: 1024px) {

    .nav-item{
        margin-right:05px;
    }
}

@media only screen and (max-width: 900px) {
 
    .navbar{
        padding:0px 0px
    }
    .nav-item{
        margin-right:05px;
    }

}


@media only screen and (max-width: 775px) {
    /* .navbar{
    padding:15px 130px
} */
   
   

}  